.add-section{
    width: 100%;
    height: auto;
    overflow-x: scroll;
    display: flex;
    flex-shrink: 0;
    gap: 1rem;
    align-items: center;
    justify-content: start;
    @media (min-width: 768px) {
        overflow-x:hidden;
    }
}