.loginGroup {
    position: absolute;
    top: 4vh;
    right: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    &:hover{
        opacity: 0.8;
    }
    img{
        height: 30px;
        width: auto;
    }
}