.map-interactive{
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    .map-title{
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 6;
        grid-row-end: 7;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        @media screen and (min-width:768px) {
            justify-content: flex-end;
        }
        p{
            font-weight: bold;
        }
    }
}