.fleet-listing{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.fleet-section{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.fleet-dets{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  grid-gap: 50px;
}

@media screen and (max-width: 600px) {
  .fleet-dets{
    flex-direction: column;
  }
}