.auto-plate{
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color: #1D3557;
    color: #F1FAEE;
    .plate-no{
        p{
            letter-spacing: 4px;
            text-transform: uppercase;
            font-size: x-large;
            font-weight: 700;
            text-align: left;
        }
    }
    .auto-info{
        display: flex;
        gap: 8px;
        p{
            font-size: 14px;
            text-transform: uppercase;
        }
    }
}