.search-bar{
    border: 1.5px solid #1D3557;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    padding: 8px 16PX;
    gap: 8px;
    input{
        border: none;
        background-color: transparent;
        outline: none;
        width: 6rem;
        font-weight: 500;
        &::placeholder{
            color: #1D3557;
            font-weight: 500;
        }
        &:focus{
            width: 8rem;
        }
        @media (min-width:768px) {
            width: 10REM;
            &:focus{
                width: 20rem;
            }
        }
    }
}