.return-search-auto{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: auto;
    p{
        font-weight: 600;
        font-size: larger;
    }
    button{
        padding: 16px 16px;
        border-radius: 5px;
        border: none;
        font-weight: 600;
        text-transform: uppercase;
        box-shadow: 3px 3px 35px 7px rgba(0,0,0,0.25);
        outline: none;
        &:hover{
            opacity: 0.8;
        }
    }
}