.table{
    width: 100%;
    overflow-x: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .table-layout{
        width: 100%;
        height: auto;
        display: grid;
        // grid-template-columns: 5rem 16rem repeat(4, 14rem) 5rem;
        // grid-template-columns: 5rem repeat(7, 1fr);
        grid-column-gap: 1rem;
        grid-template-columns: 5rem repeat(7, 10rem);
        grid-template-rows: repeat(1, 1fr);
        
        text-transform: capitalize;
        text-align: left;
        .table-action{
          &:first-child{
            margin-left: 0;
          }
          margin-left: 2rem;
        }
    }     
}

.table-tires{
  width: 100%;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-bottom: 0.5rem;
  overflow-wrap:break-word;
  .table-tires-layout{
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(4, 1.2fr) repeat(3, 1.4fr) 1.5fr 1.5fr 1.3fr 1.4fr 1fr;//repeat(4, 6rem) repeat(3, 7rem) 10rem 8rem 7rem 8rem 5rem;
      overflow-wrap:break-word;
      grid-template-rows: repeat(1, 1fr);
      text-transform: capitalize;
      text-align: left;
  }     
}

@media only screen and (max-width: 1024px) {
  .table-tires p{
    font-size: 8.5px;
  }
}



.partner-table{
  width: 100%;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .partner-table-layout{
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 5rem 15rem 10rem 4rem;
      grid-template-rows: repeat(1, 1fr);
      text-transform: capitalize;
      text-align: left;
      .table-action{
        &:first-child{
          margin-left: 0;
        }
        margin-left: 2rem;
      }
  }     
}



.table-services-tires{
  width: 100%;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .table-services-tires-layout{
      width: 100%;
      height: auto;
      display: grid;
      /* grid-template-columns: 5rem 12rem 7rem 12rem 6rem 12rem 12rem 6rem 5rem 5rem; */
      grid-template-columns: 1.1fr 2.5fr 2fr 3fr 1.3fr 2.4fr 2.4fr 1.4fr 1fr 1fr 1.1fr;
      grid-template-rows: repeat(1, 1fr);
      text-transform: capitalize;
      text-align: left;
  }     
}
@media only screen and (max-width: 1024px) {
  .table-services-tires-layout p{
    font-size: 8.5px;
  }
}

.table-services{
  width: 100%;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .table-services-layout{
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 5rem 14rem 10rem 12rem;
      grid-template-rows: repeat(1, 1fr);
      text-transform: capitalize;
      text-align: left;
  }     
}


.table-admin-orders{
  width: 100%;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .table-admin-orders-layout{
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 5rem 6rem 10rem 5rem 14rem 8rem 14rem 8rem;
      grid-template-rows: repeat(1, 1fr);
      text-transform: capitalize;
      text-align: left;
  }     
}

.table-orders{
  width: 100%;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .table-orders-layout{
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 5rem 8rem 180px 120px 240px;
      grid-template-rows: repeat(1, 1fr);
      text-transform: capitalize;
      text-align: left;
  }     
}

.table-order-details{
  width: 100%;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .table-order-details-layout{
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 80px 350px 180px;
      grid-template-rows: repeat(1, 1fr);
      text-transform: capitalize;
      text-align: left;
  }     
}

.table-admin-order-details{
  width: 100%;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .table-admin-order-details-layout{
      width: 100%;
      height: auto;
      display: grid;
      gap: 1rem;
      grid-template-columns: 5rem 18rem 8rem 7rem 16rem 16rem;
      grid-template-rows: repeat(1, 1fr);
      text-transform: capitalize;
      text-align: left;
  }     
}

.agent-table{
  width: 100%;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .agent-table-layout{
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 5rem 20rem 12rem 12rem 4rem;
      grid-template-rows: repeat(1, 1fr);
      text-transform: capitalize;
      text-align: left;
      .table-action{
        &:first-child{
          margin-left: 0;
        }
        margin-left: 2rem;
      }
  }     
}


.table-vehicle-dets{
  width: 100%;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .table-vehicle-dets-layout{
      width: 100%;
      height: auto;
      display: grid;
      /* grid-template-columns: 5rem 13rem 8rem 12rem 7rem 10rem 10rem 6rem 4rem 4rem 5rem; */
      grid-template-columns: 1.1fr 2.5fr 2fr 3fr 1.3fr 2.2fr 2.2fr 1.4fr 1fr 1fr 1.1fr;
      grid-template-rows: repeat(1, 1fr);
      text-transform: capitalize;
      text-align: left;
  }    
}

@media only screen and (max-width: 1024px) {
  .table-vehicle-dets p{
    font-size: 8.5px;
  }
}

.table-vehicle-admin-order-dets{
  width: 100%;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .table-vehicle-admin-order-dets-layout{
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 70px 175px 150px 150px 150px;
      grid-template-rows: repeat(1, 1fr);
      text-transform: capitalize;
      text-align: left;
  }    
}

.services-table{
  width: 100%;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .services-table-layout{
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 5rem 350px 150px 80px 135px 135px 135px;
      grid-template-rows: repeat(1, 1fr);
      text-transform: capitalize;
      text-align: left;
  }     
}

.table-cereri{
  width: 100%;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-bottom: 0.5rem;
  .table-layout-cereri{
      width: 100%;
      height: auto;
      display: grid;
      gap: 1rem;
      grid-template-columns: 5rem 9rem 16rem 10rem;
      grid-template-rows: repeat(1, 1fr);
      text-transform: capitalize;
      text-align: left;
  }     
}

.table-cereri-partener{
  width: 100%;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-bottom: 0.5rem;
  .table-layout-cereri-partener{
      width: 100%;
      height: auto;
      display: grid;
      gap: 1rem;
      grid-template-columns: 5rem 9rem 7rem 8rem;
      grid-template-rows: repeat(1, 1fr);
      text-transform: capitalize;
      text-align: left;
  }     
}

.table-anvelope{
  width: 100%;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-bottom: 0.5rem;
  .table-layout-anvelope{
      width: 100%;
      height: auto;
      display: grid;
      gap: 1rem;
      grid-template-columns: 5rem 16rem 8rem 6rem 6rem 7rem;
      grid-template-rows: repeat(1, 1fr);
      text-transform: capitalize;
      text-align: left;
  }     
}

.table-flote{
  width: 100%;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-bottom: 0.5rem;
  .table-layout-flote{
      width: 100%;
      height: auto;
      display: grid;
      gap: 1rem;
      grid-template-columns: 5rem 16rem 8rem 6rem 6rem 7rem 5rem;
      grid-template-rows: repeat(1, 1fr);
      text-transform: capitalize;
      text-align: left;
      .table-action{
        &:first-child{
          margin-left: 0;
        }
        margin-left: 2rem;
      }
  }     
}

.table-flota{
  width: 100%;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-bottom: 0.5rem;
  .table-layout-flota{
      width: 100%;
      height: auto;
      display: grid;
      gap: 1rem;
      grid-template-columns: 5rem 10rem 8rem 6rem 6rem;
      grid-template-rows: repeat(1, 1fr);
      text-transform: capitalize;
      text-align: left;
      .table-action{
        &:first-child{
          margin-left: 0;
        }
        margin-left: 2rem;
      }
  }     
}